/app/config
/app/tmp
/plugins
/vendors
app/config/core.php

app/views/includes/_notes/dwsync.xml

app/views/layouts/_notes/dwsync.xml

app/views/products/_notes/dwsync.xml

app/webroot/css/_notes/dwsync.xml

app/webroot/img/_notes/dwsync.xml
