@CHARSET "UTF-8";
/******* GENERAL RESET *******/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em,
font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td {
    border:0px none;
    font-family:inherit;
    font-size: 100%;
    font-style:inherit;
    font-weight:inherit;
    margin:0;
    padding:0;
    vertical-align:baseline;
}
body{
	line-height:18px;
	font-size: 13px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	margin:0;
	padding:0;
	cursor:default;
	background-image: url(/img/aqua-bkgndER1.jpg);
	position: relative;
}
html,body{
    height:100%;
    text-align: center;
}
.clear{
    clear: both;
    height: 0;
    visibility: hidden;
    display: block;
}
a{
    text-decoration: none;
}

p {
    margin-bottom: 15px;
    text-align: left;
}

strong{
    font-weight: 700;
}
/******* GENERAL RESET *******/
h1{
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2em;
    color:#8b181b;
    margin-bottom: 1em;
}

h2  {
    font-size: 18px;
    color:#8b181b;
    font-weight:bold;
	margin-top: 10px;
    margin-bottom: 10px;
}

/******* LOGO *******/
#logo{
    margin-top: 1em;
    display: block;
}

#outer-wrapper {
	background-image: url(../img/infinite-header.png);
	background-repeat: no-repeat;
	margin-top: -20px;
	padding: 0px;
	position: relative;
	z-index: 1000;
}

#middle-wrapper {
	padding: 0px;
	width: 1400px;
	min-height:1500px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	position: relative;
}

#middle-wrapper-bg {
	position: relative;
	width: 1400px;
	
	z-index: -100;
	left: 0px;
	top: 0px;
	background-image: url(../img/mid-wrapper-bg.png);
	background-repeat: repeat-y;
}

#wrapper {
	width: 1000px;
	padding-top: 0px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	height: auto;
	min-height:1500px;
	z-index: 10;
	position: relative;

}

#header  {
	background-image: url(../img/GB-header4.png);
	background-repeat: no-repeat;
	height: 185px;
	width: 1000px;
	position: relative;
	z-index: 100;
}

#nav {
margin-bottom: 30px;
position: absolute;
left: 270px!important;
top: 121px;
}

/********** REGISTER **********/

#registerBlock  {
    padding-bottom: 10px;
    padding-left: 10px;
    z-index: 5;
    padding-top: 5px;
    padding-right: 0px;
    height: 900px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;

    /*background-color: #FAFAFA;*/
}

#leftRegister  {
    padding: 5px 5px 5px 10px;
    float: left;
    width: 450px;

}

#leftRegisterFix  {
    background-color: #CF0;	
}


#leftRegister .business {
	margin: 0px;   

}

.divider  {
    float: left;
    height: 500px;
    width: 2px;
    margin-top: 140px;
    padding: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    z-index: 20;
}
#rightRegister  {
	float: left;
	width: 450px;
	margin-left: 40px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
}


/**  PROMTION **/

.promotion  {
	
	margin-top: 20px;	
}





td  {
    text-align:left;
}

th  {
    text-align:right;	
}

/******* /LOGO  *******/
/******* CONTAINER *******/
#container{
    width: 600px;
    margin: 40px auto;
    text-align: left;
}
/******* /CONTAINER *******/
/******* FORM *******/
#customForm{
    padding: 0 10px 10px;
}
#customForm label{
    display: block;
    color: #797979;
    font-weight: 700;
    line-height: 1.4em;
}
#customForm input{
    width: 220px;
    padding: 6px;
    color: #949494;
    font-family: Arial,  Verdana, Helvetica, sans-serif;
    font-size: 11px;
    border: 1px solid #cecece;
}
#customForm input.error{
    background: #f8dbdb;
    border-color: #e77776;
}
#customForm textarea{
    width: 550px;
    height: 80px;
    padding: 6px;
    color: #adaeae;
    font-family: Arial,  Verdana, Helvetica, sans-serif;
    font-style: italic;
    font-size: 12px;
    border: 1px solid #cecece;
}
#customForm textarea.error{
    background: #f8dbdb;
    border-color: #e77776;
}
#customForm div{
    margin-bottom: 15px;
}
#customForm div span{
    margin-left: 10px;
    color: #b1b1b1;
    font-size: 11px;
    font-style: italic;
}
#customForm div span.error{
    color: #e46c6e;
}
#customForm #send{
    background: #6f9ff1;
    color: #fff;
    font-weight: 700;
    font-style: normal;
    border: 0;
    cursor: pointer;
}
#customForm #send:hover{
    background: #79a7f1;
}
#error{
    margin-bottom: 20px;
    border: 1px solid #efefef;
}
#error ul{
    list-style: square;
    padding: 5px;
    font-size: 11px;
}
#error ul li{
    list-style-position: inside;
    line-height: 1.6em;
}
#error ul li strong{
    color: #e46c6d;
}
#error.valid ul li strong{
    color: #93d72e;
}
/******* /FORM *******/

#content {
	
	background-position: 0px 100px;
	
	width: 1000px;
	margin-top: -20px;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}
#footer {
/*	background-color: #312B2D;*/
	height: 100px;
	width: 990px;
	margin-top: 50px;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;

}

#footer .menu_footer {
    display: block;
    float: left;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 990px;
}
#footer .text_footer {
    color: #FFFFFF;
    display: block;
    font-weight: bold;
    text-align: center;
    width: 990px;
}
#footer .item_menu {
    display: table-cell;
    list-style: none outside none;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    width: 990px;
}
#footer .menu_footer ul li {
    color: #FFFFFF;
    display: inline;
    font-weight: bold;
    margin: 5px;
}
#footer .menu_footer ul li a {
    color: #FFFFFF;
    font-weight: bold;
    text-decoration: none;
}

.t-radios input{
    float: left;
}

.t-radios label {
    display: block;
    margin: 0 3px 3px;
    width: 200px;
}
.clear{
    clear: both;
}

/** GENERAL **/

td div {
	margin-top: 10px;
	color:#8b181b;	
}

/** PRODUCTS **/
.product-list {
	margin-left:53px;
}

/** SHIPPING **/

.shipping-box {
	text-align: left;	
}

.shipping-box div {
	margin-bottom: 0px;	
	margin-top: 10px;	
}

.shipping {

}

#shippingShippingPolicy, #shippingPerishablePolicy,
#shippingDiscountShippingPolicy, #shippingReturnPolicy {
	width: 300px;	
	height:40px;
}

#shippingShipsIn {
	width: 150px;	
}

#usersCustServiceContact {
	width: 200px;	
}

#tax-box {
	text-align: left;
	margin-top:15px;	
}


/** TAX **/
#tax-box div {
	float: left;
	text-align: left;
	margin-bottom:10px;	
}

.tax-in {
	float: left;
	width: 145px;	
}

.tax-out {
	float: left;
	width: 80px;
	margin-left: 15px;
}

#taxesStateSalesTaxInState, #taxesStateSalesTaxOutState,
#taxesLocalSalesTaxInState, #taxesLocalSalesTaxOutState,
#taxesStateUseTaxInState, #taxesStateUseTaxOutState,
#taxesLocalUseTaxInState, #taxesLocalUseTaxOutState


{
	width: 50px;
}

.reg-submit {
	
	margin-bottom: 20px;
	
}


#users_promotionQuote, #users_promotionQualities,
#users_promotionCharitable, #users_promotionAwards,
#users_promotionRecipes {
	width: 360px;
	height: 40px;
	margin-bottom: 15px;
	margin-top: 10px;
}