<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Carousel Test</title>
<link href="../../webroot/css/magazine.css" rel="stylesheet" type="text/css" />
</head>

<body>



<div id="featured">
    <div class="hero400">
      

<div class="slideshow">
  <div class="control prev hide"></div>
  <div class="control next hide"></div>
  <div class="slideshow-slides">
    <ul>
      
          <li class="gb-feature" style="background-image: url('http://gourmet-basket.com/test/app/webroot/img/featured/kiwi.jpg');" >
            <div class="holder">
              <h1 style="color: #ffffff; font-size: 20pt;">Up to 30% Off<br />GB Special</h1><p style="color: #d2d2d2;">But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of...</p><div><a class="button big" href="/specials/thanksgivingcountdown">Shop now</a></div>
            </div>
            
              <a href="/specials/thanksgivingcountdown" class="block-link">more</a>
            
          </li>
        
          <li class="gb-feature" style="background-image: url('http://gourmet-basket.com/test/app/webroot/img/test.jpg');" >
            <div class="holder">
              <h1 style="color: #ffffff; font-size: 20pt;">GB is Back with the best recipes</h1><p style="color: #d2d2d2;">To pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself...</p><div><a class="button big" href="/stories">Read now</a></div>
            </div>
            
              <a href="/stories" class="block-link">more</a>
            
          </li>
        
          <li class="gb-feature" style="background-image:url(../../webroot/img/gb-sprite.png)" >
            <div class="holder">
              <h1 style="color: #ffffff; font-size: 18pt;">DAILY SPECIAL:<br />20% Off Gb Specialty</h1><p style="color: #d2d2d2;"> because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? <span class="Apple-style-span" style="color: #000000;"></span></p><div><a class="button big" href="/products/85885892">Shop now</a></div>
            </div>
            
              <a href="/products/85885892" class="block-link">more</a>
            
          </li>
        
          <li class="gb-feature" style="background-image: url('http://gourmet-basket.com/test/app/webroot/img/test.jpg');">
            <div class="holder">
              <h1 style="color: #ffffff; font-size: 19pt;">WHOA!!:<br />GB Specialty</h1><p style="color: #d2d2d2;">But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure?"</p><div><a class="button big" href="/products/99862846-francesco-posenato-pinot-grigio">Shop now</a></div>
            </div>
            
              <a href="/products/99862846-francesco-posenato-pinot-grigio" class="block-link">more</a>
            
          </li>
        
          <li style="background-image: url('http://gourmet-basket.com/test/app/webroot/img/test.jpg');" >
            <div class="holder">
              <h1 style="color: #ffffff; font-size: 19pt;">DAILY SPECIAL:<br />20% Off GB Special Spices</h1><p style="color: #d2d2d2;">To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? 24</p><div><a class="button big" href="/products/76580007">Shop now</a></div>
            </div>
            
              <a href="/products/76580007" class="block-link">more</a>
            
          </li>
        
          <li class="gb-feature" style="background-image: url('http://gourmet-basket.com/test/app/webroot/img/test.jpg');" >
            <div class="holder">
              <h1 style="color: #ffffff; font-size: 19pt;">ANOTher SPECIAL:<br />20% Off Petite Sirah 2008</h1><p style="color: #d2d2d2;">To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? . Exclusive Sale ends 10AM EST October 25</p><div><a class="button big" href="/products/99619155">Shop now</a></div>
            </div>
            
              <a href="/products/99619155" class="block-link">more</a>
            
          </li>
        
    </ul>
  </div>
</div>

    </div>
    <div class="additional">
      <noscript>
        Gilt Taste requires JavaScript and cookies. Please adjust your browser accordingly.
      </noscript>
      <div id="greeting-withjs" class="hide">
        <div style="float: left; width: 550px; padding: 10px 0px 25px 10px;
                    background: transparent url('http://taste1.giltcdn.com/resources/images/pictures/mikuni-finger-limes.jpg?20111019161002') no-repeat right bottom;">
          <h3>Recipes and stories for food and wine lovers</h3>
          <p style="width: 350px;">
            Enjoy original, daily stories including recipes, videos, food news and opinions from your favorite writers, artisans, experts, chefs and the Taste editors.
            <a href="/stories">Read more</a>
          </p>
        </div>
        <div style="float: left; width: 318px; margin: 10px 0 20px; padding-left: 20px; border-left: 1px dotted #ccc; min-height:100px;" class="newsletter">
          

<div id="newsletterRegHomePage">
  <h3>Sign up for the newsletter</h3>
  <p class="instruct">
    Sign up to be the first to know about our new stories, fresh recipes and specials going on sale.
    <span class="post_message hide"></span>
    <span class="error_message hide">Thank you for subscribing</span>
  </p>
  <form action="/" method="post" accept-charset="utf-8" onsubmit="return false" id="newsletter_signup_form">
    <p>
      <input type="hidden" name="user[email_preferences][taste]" value="1"/>
      <input type="hidden" name="pkey" value="taste" />
      <button type="submit" id="btn_join_newsletter" name="btn_subscribe" class="button">Subscribe</button>
    </p>
  </form>
</div>

<div class="user_registration">
  <h3>Become a Gilt Taste member</h3>
  
      <div id="user_registration_A">
        <p class="instruct">
          <span id="newsletter_copy"></span>
          <span class="post_message hide">Thank you for subscribing</span>
        </p>
        

<form action="/" method="post" id="user_registration_form" accept-charset="utf-8" onsubmit="return false">
    
    <input type="hidden" name="user[email_preferences][taste]" value="1" />
    <input type="hidden" name="pkey" value="taste" />
    
    <div id="register_step_1">
      <input type="email" name="user[register_email_address]" id="user_register_email_address" class="user_register_email_address required email" placeholder="Your email address" maxlength="100" style="width: 190px;" class="required email" />
      <button type="button" id="btn_register_continue" class="button" style="height: 27px; padding: 0.3em 1em 0.7em 1em;">Continue</button>  
    </div>
    
    <div id="register_step_2" style="display:none;">
      <div class="nonHTML5_instruct instruct" style="float:left;"></div>
      <div style="float:left;">
        <input type="password" name="user[register_password]" id="user_register_password" class="user_register_password" placeholder="Your password" maxlength="100" style="width: 190px;" />
        <button type="submit" id="btn_register" name="btn_register" class="button" style="height: 27px; padding: 0.3em 1em 0.7em 1em;">Register</button>
      </div>
      <div style="clear:both;"></div>
    </div>
    
    <div class="error_message small"></div>

</form>
      </div>
      
</div>
        </div>
      </div>
    </div>
  </div>















</body>
</html>
